/* styles/header_texts.css */

/* Main heading */
h1.gradient-text {
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text; /* For Safari and Chrome */
    -moz-background-clip: text;    /* For Firefox */
    -ms-background-clip: text;     /* For Internet Explorer and Edge */
    -o-background-clip: text;      /* For Opera */
    background-clip: text;
    color: transparent;
}

/* Sub-heading */
h3.custom-subtitle {
    font-size: 30px;
    color: gray;
    margin-bottom: 5px;
}

/* Sub-heading seperator line */
hr.custom-hr {
    border-top: 1px solid rgb(215,215,215);
    margin-top: -1px;
}