/* styles/sql_server_logo.css */
.logo-container {
    border: 1px solid rgb(255,255,255);
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}

.logo-container img {
    width: 150px;
}